create database [DB_DIGITAL]
GO
/****** Object:  User [IT720123]    Script Date: 7/28/2023 1:23:47 PM ******/
CREATE USER [IT720123] FOR LOGIN [IT720123] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IT720124]    Script Date: 7/28/2023 1:23:47 PM ******/
CREATE USER [IT720124] FOR LOGIN [IT720124] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IT720125]    Script Date: 7/28/2023 1:23:47 PM ******/
CREATE USER [IT720125] FOR LOGIN [IT720125] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IT720123]
GO
ALTER ROLE [db_owner] ADD MEMBER [IT720124]
GO
ALTER ROLE [db_owner] ADD MEMBER [IT720125]
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [varchar](10) NOT NULL,
	[id_role] [int] NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[sex] [bit] NOT NULL,
	[date_of_birth] [date] NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](200) NULL,
	[status] [bit] NOT NULL,
	[email] [varchar](50) NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[connection_method]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connection_method](
	[id] [int] NOT NULL,
	[type_method] [bit] NULL,
	[name_method] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[content_library]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_library](
	[id_cl] [int] NOT NULL,
	[content_name] [nvarchar](100) NULL,
	[modified_date_cl] [datetime] NULL,
	[file_size] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device](
	[ip_address] [varchar](16) NOT NULL,
	[name_device] [varchar](50) NULL,
	[name_brand] [varchar](20) NULL,
	[resolution] [varchar](15) NULL,
	[type_method] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ip_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[link_url]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link_url](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](16) NULL,
	[id_url] [int] NULL,
	[id_type] [int] NULL,
 CONSTRAINT [PK__link_url__3213E83F4963703F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[object]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[object](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[object_name] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
	[id_parent_obj] [int] NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_object] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist](
	[id_pl] [int] NOT NULL,
	[id_cl] [int] NULL,
	[playlist_name] [nvarchar](100) NULL,
	[url] [text] NULL,
	[type] [varchar](10) NULL,
	[status] [bit] NULL,
	[duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](20) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_object]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_object](
	[id_role] [int] NOT NULL,
	[id_object] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule]    Script Date: 7/28/2023 1:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pl] [int] NULL,
	[modify_date_scd] [datetime] NULL,
	[begin_at] [datetime] NULL,
	[end_at] [datetime] NULL,
	[color] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [id_user], [id_role], [full_name], [sex], [date_of_birth], [phone], [address], [status], [email], [user_name], [password], [create_at], [create_by], [last_modify_at], [description]) VALUES (26, N'iiiii', 1, N'Bui XUan Hiu', 1, CAST(N'2023-07-10' AS Date), N'111111    ', N'dsgsdg', 1, N'fdasfsd', N'hiu', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', CAST(N'2023-07-11T00:00:00.000' AS DateTime), NULL, CAST(N'2023-07-20T10:56:08.000' AS DateTime), N'sdfsd')
INSERT [dbo].[account] ([id], [id_user], [id_role], [full_name], [sex], [date_of_birth], [phone], [address], [status], [email], [user_name], [password], [create_at], [create_by], [last_modify_at], [description]) VALUES (32, N'hiu', 1, N'Bui Xuan Hieu', 1, CAST(N'2023-07-28' AS Date), N'32523523  ', N'Hung Yen', 1, N'883@gmail.com', N'hieucongchua', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', CAST(N'2023-07-14T00:00:00.000' AS DateTime), NULL, CAST(N'2023-07-21T09:06:37.000' AS DateTime), N'iiiiii')
INSERT [dbo].[account] ([id], [id_user], [id_role], [full_name], [sex], [date_of_birth], [phone], [address], [status], [email], [user_name], [password], [create_at], [create_by], [last_modify_at], [description]) VALUES (46, N'IT720125', 1, N'Phạm Bá Huy', 0, CAST(N'2002-10-18' AS Date), N'0866265928', N'Hải Phòng', 1, N'huy87726@st.vimaru.edu.vn', N'IT720125', N'uL30akiM22dYp8eek5oDAveHGiTy+EbB6gNZevwvJJQ=', CAST(N'2023-07-17T16:30:39.000' AS DateTime), NULL, CAST(N'2023-07-20T11:19:56.000' AS DateTime), N'Huy đẹp trai')
SET IDENTITY_INSERT [dbo].[account] OFF
GO
INSERT [dbo].[connection_method] ([id], [type_method], [name_method]) VALUES (1, 1, N'Wifi')
INSERT [dbo].[connection_method] ([id], [type_method], [name_method]) VALUES (2, 0, N'Wireless')
GO
INSERT [dbo].[content_library] ([id_cl], [content_name], [modified_date_cl], [file_size]) VALUES (1, N'content 1', CAST(N'2023-07-27T14:19:29.000' AS DateTime), N'3Mb')
INSERT [dbo].[content_library] ([id_cl], [content_name], [modified_date_cl], [file_size]) VALUES (2, N'content 2', CAST(N'2023-07-28T09:04:13.000' AS DateTime), N'4Mb')
INSERT [dbo].[content_library] ([id_cl], [content_name], [modified_date_cl], [file_size]) VALUES (3, N'content 3', CAST(N'2023-07-28T09:04:24.000' AS DateTime), N'9Mb')
GO
INSERT [dbo].[device] ([ip_address], [name_device], [name_brand], [resolution], [type_method]) VALUES (N'0.0.0.1', N'aa', N'ss', N'1920x1080', 1)
INSERT [dbo].[device] ([ip_address], [name_device], [name_brand], [resolution], [type_method]) VALUES (N'0.0.0.2', N'ee', N'qq', N'1280x720', 1)
INSERT [dbo].[device] ([ip_address], [name_device], [name_brand], [resolution], [type_method]) VALUES (N'0.0.0.3', N'tr', N'tr', N'1280x720', 1)
GO
SET IDENTITY_INSERT [dbo].[link_url] ON 

INSERT [dbo].[link_url] ([id], [ip_address], [id_url], [id_type]) VALUES (1, N'10.170.183.160', 12, 12)
INSERT [dbo].[link_url] ([id], [ip_address], [id_url], [id_type]) VALUES (2, N'10.170.183.160', 12, 12)
INSERT [dbo].[link_url] ([id], [ip_address], [id_url], [id_type]) VALUES (3, N'10.170.183.67', 2, 2)
SET IDENTITY_INSERT [dbo].[link_url] OFF
GO
SET IDENTITY_INSERT [dbo].[object] ON 

INSERT [dbo].[object] ([id], [object_name], [status], [id_parent_obj], [create_at], [create_by], [last_modify_at], [description]) VALUES (1, N'Quản lý vai trò', 1, 1, CAST(N'2023-07-17T00:00:00.000' AS DateTime), N'IT720129', NULL, N'mo ta')
INSERT [dbo].[object] ([id], [object_name], [status], [id_parent_obj], [create_at], [create_by], [last_modify_at], [description]) VALUES (2, N'Quản lý người dùng', 1, 2, CAST(N'2023-07-17T00:00:00.000' AS DateTime), N'IT720129', NULL, N'mô tả')
INSERT [dbo].[object] ([id], [object_name], [status], [id_parent_obj], [create_at], [create_by], [last_modify_at], [description]) VALUES (3, N'Quản lý thiết bị', 1, 3, CAST(N'2023-07-19T00:00:00.000' AS DateTime), N'IT720129', NULL, N'a')
SET IDENTITY_INSERT [dbo].[object] OFF
GO
INSERT [dbo].[playlist] ([id_pl], [id_cl], [playlist_name], [url], [type], [status], [duration]) VALUES (1, 1, N'anh 1', N'anh1.jpg', N'img', 1, 2)
INSERT [dbo].[playlist] ([id_pl], [id_cl], [playlist_name], [url], [type], [status], [duration]) VALUES (2, 1, N'viiiiiiiiiiiiu', N'presentation.pptx', N'pptx', 1, 8)
INSERT [dbo].[playlist] ([id_pl], [id_cl], [playlist_name], [url], [type], [status], [duration]) VALUES (6, 1, N'jffkfk', N'Sprint Planning Document.xlsx', N'xlsx', 1, 66)
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [role_name], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (1, N'Quản trị viên', 1, CAST(N'2023-11-07T00:00:00.000' AS DateTime), N'IT720129', CAST(N'2023-07-28T10:03:29.753' AS DateTime), N'Test quản trị viên')
INSERT [dbo].[role] ([id], [role_name], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (2, N'Người dùng thường', 1, CAST(N'2023-07-11T00:00:00.000' AS DateTime), N'IT720129', CAST(N'2023-07-11T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[role] ([id], [role_name], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (20, N'Test', 1, CAST(N'2023-07-13T15:28:33.900' AS DateTime), N'IT720129', CAST(N'2023-07-17T10:51:35.460' AS DateTime), N'thử xem')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
INSERT [dbo].[role_object] ([id_role], [id_object], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (1, 1, 1, CAST(N'2023-07-17T00:00:00.000' AS DateTime), N'IT720129', CAST(N'2023-07-19T15:09:33.070' AS DateTime), N'a')
INSERT [dbo].[role_object] ([id_role], [id_object], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (1, 2, 1, CAST(N'2023-07-17T00:00:00.000' AS DateTime), N'IT720129', CAST(N'2023-07-26T12:57:45.193' AS DateTime), N'b')
INSERT [dbo].[role_object] ([id_role], [id_object], [status], [create_at], [create_by], [last_modify_at], [description]) VALUES (2, 4, 1, CAST(N'2023-07-17T15:09:17.480' AS DateTime), N'IT720129', CAST(N'2023-07-26T16:20:52.747' AS DateTime), N'aa')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_role]    Script Date: 7/28/2023 1:23:48 PM ******/
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [IX_role] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [dbo].[device]  WITH CHECK ADD FOREIGN KEY([type_method])
REFERENCES [dbo].[connection_method] ([id])
GO
ALTER TABLE [dbo].[link_url]  WITH CHECK ADD  CONSTRAINT [FK__link_url__id_typ__41EDCAC5] FOREIGN KEY([id_type])
REFERENCES [dbo].[playlist] ([id_pl])
GO
ALTER TABLE [dbo].[link_url] CHECK CONSTRAINT [FK__link_url__id_typ__41EDCAC5]
GO
ALTER TABLE [dbo].[link_url]  WITH CHECK ADD  CONSTRAINT [FK__link_url__id_url__3F115E1A] FOREIGN KEY([id_url])
REFERENCES [dbo].[playlist] ([id_pl])
GO
ALTER TABLE [dbo].[link_url] CHECK CONSTRAINT [FK__link_url__id_url__3F115E1A]
GO
ALTER TABLE [dbo].[link_url]  WITH CHECK ADD  CONSTRAINT [FK__link_url__ip_add__3E1D39E1] FOREIGN KEY([ip_address])
REFERENCES [dbo].[device] ([ip_address])
GO
ALTER TABLE [dbo].[link_url] CHECK CONSTRAINT [FK__link_url__ip_add__3E1D39E1]
GO
ALTER TABLE [dbo].[playlist]  WITH CHECK ADD FOREIGN KEY([id_cl])
REFERENCES [dbo].[content_library] ([id_cl])
GO
ALTER TABLE [dbo].[role_object]  WITH CHECK ADD  CONSTRAINT [FK_role_object_object] FOREIGN KEY([id_object])
REFERENCES [dbo].[object] ([id])
GO
ALTER TABLE [dbo].[role_object] CHECK CONSTRAINT [FK_role_object_object]
GO
ALTER TABLE [dbo].[role_object]  WITH CHECK ADD  CONSTRAINT [FK_role_object_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[role_object] CHECK CONSTRAINT [FK_role_object_role]
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD FOREIGN KEY([id_pl])
REFERENCES [dbo].[playlist] ([id_pl])
GO
/****** Object:  StoredProcedure [dbo].[sp_content_library]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_content_library]
AS
BEGIN
	
	SET NOCOUNT ON;
	select * from content_library
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_content]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_del_content] (
@id_cl int
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        IF EXISTS (
                SELECT 1
                FROM content_library
                WHERE id_cl = @id_cl
                )
        BEGIN
            Delete from content_library
            WHERE id_cl = @id_cl;

            SELECT 1 AS Code
                , 'OK' AS Msg;
        END
        ELSE
        BEGIN
            SELECT 0 AS Code
                , N'Nội dung không tồn tại hoặc đã bị xóa.' AS Msg;
        END

        COMMIT
    END TRY

    BEGIN CATCH
        SELECT ERROR_NUMBER() AS Code
            , ERROR_MESSAGE() AS Msg;

        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_device]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_del_device] (
@ip_address varchar(16)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        IF EXISTS (
                SELECT 1
                FROM device
                WHERE ip_address = @ip_address
                )
        BEGIN
            Delete from device
            WHERE ip_address = @ip_address;

            SELECT 1 AS Code
                , 'OK' AS Msg;
        END
        ELSE
        BEGIN
            SELECT 0 AS Code
                , N'Device không tồn tại hoặc đã bị xóa.' AS Msg;
        END

        COMMIT
    END TRY

    BEGIN CATCH
        SELECT ERROR_NUMBER() AS Code
            , ERROR_MESSAGE() AS Msg;

        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_del_playlist] (
@id_pl int
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        IF EXISTS (
                SELECT 1
                FROM playlist
                WHERE id_pl = @id_pl
                )
        BEGIN
            Delete from playlist
            WHERE id_pl = @id_pl;

            SELECT 1 AS Code
                , 'OK' AS Msg;
        END
        ELSE
        BEGIN
            SELECT 0 AS Code
                , N'Playlist không tồn tại hoặc đã bị xóa.' AS Msg;
        END

        COMMIT
    END TRY

    BEGIN CATCH
        SELECT ERROR_NUMBER() AS Code
            , ERROR_MESSAGE() AS Msg;

        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_role]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[sp_del_role] (
@id int)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        IF EXISTS (
                SELECT 1
                FROM role
                WHERE id = @id AND [status] = 1
                )
        BEGIN
            UPDATE role SET [status] = 0, last_modify_at = getdate()
            WHERE id = @id;

            SELECT 1 AS Code
                , 'OK' AS Msg;
        END
        ELSE
        BEGIN
            SELECT 0 AS Code
                , N'Role không tồn tại hoặc đã bị xóa.' AS Msg;
        END

        COMMIT
    END TRY

    BEGIN CATCH
        SELECT ERROR_NUMBER() AS Code
            , ERROR_MESSAGE() AS Msg;

        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_role_object]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[sp_del_role_object] (
@id_role int
,@id_object int)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        IF EXISTS (
                SELECT 1
                FROM role_object
                WHERE id_role = @id_role AND id_object= @id_object AND [status] = 1
                )
        BEGIN
            UPDATE role_object SET [status] = 0, last_modify_at = getdate()
            WHERE id_role = @id_role AND id_object= @id_object;

            SELECT 1 AS Code
                , 'OK' AS Msg;
        END
        ELSE
        BEGIN
            SELECT 0 AS Code
                , N'Role không tồn tại hoặc đã bị xóa.' AS Msg;
        END

        COMMIT
    END TRY

    BEGIN CATCH
        SELECT ERROR_NUMBER() AS Code
            , ERROR_MESSAGE() AS Msg;

        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_del_user]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_del_user]
	@id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE account
	WHERE id =@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_role]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[sp_get_all_role] 
	-- Add the parameters for the stored procedure her
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from role
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_content]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_content] (
	@id_cl int
	,@content_name nvarchar(100)
	,@modified_date_cl datetime
	,@file_size varchar(10)
	)
AS

BEGIN
	SELECT id_cl
		,content_name
		,modified_date_cl
		,file_size
	FROM content_library 
	WHERE (
			@id_cl IS NULL
			OR id_cl = @id_cl
			)
		AND (
			@content_name IS NULL
			OR content_name LIKE '%' + @content_name + '%'
			)
		AND (
			@file_size IS NULL
			OR file_size LIKE '%' + @file_size + '%'
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_content_home]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_content_home] (
	@content_name nvarchar(100)
	,@playlist_name nvarchar(100)
	,@duration int
	,@begin_at datetime
	)
AS
BEGIN
	select content_name, playlist.playlist_name, playlist.duration, begin_at 
	from content_library inner join playlist on content_library.id_cl = playlist.id_cl
	inner join schedule on playlist.id_pl = schedule.id_pl
	WHERE (
			@content_name IS NULL
			OR content_name LIKE '%' + @content_name + '%'
			)
		AND (
			@playlist_name IS NULL
			OR playlist.playlist_name LIKE '%' + @playlist_name + '%'
			)
		AND (
			@duration IS NULL
			OR duration= @duration
			)
		AND (
			@begin_at IS NULL
			OR begin_at= @begin_at
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_device]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_get_device] (
	@ip_address varchar(16)
	,@name_device VARCHAR(50)
	,@name_brand VARCHAR(20)
	,@resolution varchar(15)
	,@name_method varchar(10)
	)
AS

BEGIN
	SELECT ip_address
		,name_device
		,name_brand
		,resolution
		,name_method
	FROM device inner join connection_method on device.type_method = connection_method.id
	WHERE (
			@ip_address IS NULL
			OR ip_address = @ip_address
			)
		AND (
			@name_device IS NULL
			OR name_device LIKE '%' + @name_device + '%'
			)
		AND (
			@name_brand IS NULL
			OR name_brand  LIKE '%' + @name_brand + '%'
			)
		AND (
			@resolution IS NULL
			OR resolution LIKE '%' + @resolution + '%'
			)
		AND (
			@name_method IS NULL
			OR name_method LIKE '%' + @name_method + '%'
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_device_home]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[sp_get_device_home] (
	@ip_address varchar(16)
	,@name_device VARCHAR(50)
	)
AS

BEGIN
	SELECT ip_address
		,name_device
	FROM device
	WHERE (
			@ip_address IS NULL
			OR ip_address = @ip_address
			)
		AND (
			@name_device IS NULL
			OR name_device LIKE '%' + @name_device + '%'
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_link_url]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_link_url] (
	@ip_address varchar(16)
	)
AS

BEGIN
	SELECT ip_address,id_url,id_type,playlist.url, type
	FROM link_url inner join playlist on link_url.id_type = playlist.id_pl
	Where @ip_address = ip_address
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_object]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_object] (
	@user_name varchar(50)
	)
AS
/* **********************************************************************
Emp Code: VN184786
Creation Date: 2022-07-12
Desc: 
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION

*/


BEGIN
	SELECT role_object.id_role
		,role_name
		,role_object.id_object
		,object_name
		,account.user_name
		,account.email
		,account.full_name
	FROM role_object inner join object on role_object.id_object = object.id
	inner join role on role_object.id_role = role.id inner join account on account.id_role= role.id
	WHERE account.user_name=@user_name and role_object.status=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_permission]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_get_permission] 
AS
/* **********************************************************************
Emp Code: VN184786
Creation Date: 2022-07-12
Desc: 
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION

*/


BEGIN
	SELECT id as id_object, object_name
	FROM object 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_playlist] (
	@id_pl int
	,@id_cl int
	,@content_name nvarchar(100)
	,@playlist_name nVARCHAR(100)
	,@url text
	,@type varchar(10)
	,@status bit
	,@duration int
	)
AS

BEGIN
	SELECT id_pl, playlist.id_cl
		,content_name
		,playlist_name
		,url
		,type
		,status
		,duration
	FROM playlist inner join content_library on playlist.id_cl = content_library.id_cl
	WHERE (
			@id_pl IS NULL
			OR id_pl = @id_pl
			)
		AND(
			@id_cl IS NULL
			OR playlist.id_cl = @id_cl
			)
		AND(
			@content_name IS NULL
			OR content_name LIKE '%' + @content_name + '%'
			)
		AND (
			@playlist_name IS NULL
			OR playlist_name  LIKE '%' + @playlist_name + '%'
			)
		AND (
			@type IS NULL
			OR type LIKE '%' + @type + '%'
			)
		AND(
			@status IS NULL
			OR status = @status
			)
		AND(
			@duration IS NULL
			OR duration = @duration
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_role]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_role] (
	@id INT
	,@role_name NVARCHAR(50)
	,@status BIT
	,@create_at DATETIME
	,@create_by VARCHAR(20)
	,@last_modify_at DATETIME
	,@description NVARCHAR(200)
	)
AS
/* **********************************************************************
Emp Code: VN184786
Creation Date: 2022-07-12
Desc: 
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION

*/
BEGIN
	SELECT id
		,role_name
		,status
		,create_at
		,create_by
		,last_modify_at
		,description
	FROM role
	WHERE (
			@id IS NULL
			OR id = @id OR @id = 0
			)
		AND (
			@role_name IS NULL
			OR role_name LIKE '%' + @role_name + '%'
			)
		AND (
			@status IS NULL
			OR STATUS = @status
			)
		AND (
			@create_at IS NULL
			OR create_at = @create_at
			)
		AND (
			@create_by IS NULL
			OR create_by LIKE '%' + @create_by + '%'
			)
		AND (
			@last_modify_at IS NULL
			OR last_modify_at = @last_modify_at
			)
		AND (
			@description IS NULL
			OR description LIKE '%' + @description + '%'
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_role_object]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_role_object] (
	@role_name nvarchar(50)
	,@object_name nvarchar(50)
	,@status BIT
	,@create_at DATETIME
	,@create_by VARCHAR(20)
	,@last_modify_at DATETIME
	,@description NVARCHAR(200)
	)
AS
/* **********************************************************************
Emp Code: VN184786
Creation Date: 2022-07-12
Desc: 
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION

*/


BEGIN
	SELECT role_object.id_role
		,role_name
		,role_object.id_object
		,object_name
		,role_object.status
		,role_object.create_at
		,role_object.create_by
		,role_object.last_modify_at
		,role_object.description
	FROM role_object inner join object on role_object.id_object = object.id
	inner join role on role_object.id_role = role.id
	WHERE (
			@role_name IS NULL
			OR role_name LIKE '%' + @role_name + '%'
			)
		AND (
			@object_name IS NULL
			OR object_name LIKE '%' + @object_name + '%'
			)
		AND (
			@status IS NULL
			OR role_object.status = @status
			)
		AND (
			@create_at IS NULL
			OR role_object.create_at = @create_at
			)
		AND (
			@create_by IS NULL
			OR role_object.create_by LIKE '%' + @create_by + '%'
			)
		AND (
			@last_modify_at IS NULL
			OR role_object.last_modify_at = @last_modify_at
			)
		AND (
			@description IS NULL
			OR role_object.description LIKE '%' + @description + '%'
			)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_type_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_get_type_playlist] 
AS

BEGIN
	SELECT Distinct type
	FROM playlist
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_url_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_url_playlist] 
AS

BEGIN
	SELECT id_pl,url, type
	FROM playlist
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_user]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_get_user]
@id int,
@id_user varchar(10),
@id_role int,
@full_name nvarchar(50),
@sex bit,
@date_of_birth date,
@phone char(10),
@address nvarchar(200),
@status bit,
@email varchar(50),
@user_name varchar(50),
@password varchar(100),
@create_at datetime,
@create_by varchar(10),
@last_modify_at datetime,
@description nvarchar(200)

AS
BEGIN
	SET NOCOUNT ON;
	SELECT* 
	FROM account
	--where 
	--(
	--@id_user IS Null
	--Or id_user = @id_user)
	--and
	--(@full_name is Null
	--or full_name = @full_name)
	--and
	--(@sex is Null
	--or sex = @sex)
	--and
	--(@date_of_birth is Null
	--or date_of_birth = @date_of_birth)
	--and
	--(@phone is Null
	--or phone = @phone)
	--and
	--(@address is Null
	--or address = @address)
	--and
	--(@status is Null
	--or status = @status)
	--and
	--(@email is Null
	--or email = @email)
	--and
	--(@user_name is Null
	--or user_name = @user_name)
	--and
	--(@password is Null
	--or password = @password)
	--and
	--(@create_at is Null
	--or create_at = @create_at)
	--and
	--(@create_by is Null
	--or create_by = @create_by)
	--and
	--(@last_modify_at is Null
	--or last_modify_at = @last_modify_at)
	--and
	--(@description is Null
	--or description = @description)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_content]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ins_content] (
	@id_cl int
	,@content_name nvarchar(100)
	,@modified_date_cl datetime
	,@file_size varchar(10)
	)
AS

BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO content_library(
			id_cl
			,content_name
			,modified_date_cl
			,file_size
			)
		VALUES (
			@id_cl
			,@content_name 
			,@modified_date_cl 
			,@file_size 
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_device]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ins_device] (
	@ip_address VARCHAR(16)
	,@name_device varchar(50)
	,@name_brand varchar(20)
	,@resolution VARCHAR(15)
	,@type_method int
	)
AS

BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO device (
			ip_address
			,name_device
			,name_brand
			,resolution
			,type_method
			)
		VALUES (
			@ip_address
			,@name_device
			,@name_brand
			,@resolution
			,@type_method
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_link_url]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ins_link_url] (
	@ip_address VARCHAR(16)
	,@id_url int
	,@id_type int
	,@name_device varchar(50)
	,@name_brand varchar(20)
	,@resolution VARCHAR(15)
	,@type_method int
	)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		INSERT INTO device (
			ip_address
			,name_device
			,name_brand
			,resolution
			,type_method
			)
		VALUES (
			@ip_address
			,@name_device
			,@name_brand
			,@resolution
			,@type_method
			)
		INSERT INTO link_url (
			ip_address
			,id_url
			,id_type
			)
		VALUES (
			@ip_address
			,@id_url
			,@id_type
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_ins_playlist] (
	@id_pl int
	,@id_cl int
	,@playlist_name nVARCHAR(100)
	,@url text
	,@type varchar(10)
	,@status bit
	,@duration int
	)
AS

BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO playlist(
			id_pl
			,id_cl
			,playlist_name
			,url
			,type
			,status
			,duration
			)
		VALUES (
			@id_pl
			,@id_cl
			,@playlist_name
			,@url
			,@type
			,@status
			,@duration
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_role]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ins_role] (
	@role_name NVARCHAR(50)
	,@create_by VARCHAR(20)
	,@description NVARCHAR(200)
	)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO role(
			role_name
			,STATUS
			,create_at
			,create_by
			,description
			)
		VALUES (
			@role_name
			,1
			,getdate()
			,@create_by
			,@description
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_role_object]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_ins_role_object] (
	@id_role int
	,@id_object int
	,@create_by VARCHAR(20)
	,@description NVARCHAR(200)
	)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO role_object(
			id_role
			,id_object
			,STATUS
			,create_at
			,create_by
			,description
			)
		VALUES (
			@id_role
			,@id_object
			,1
			,getdate()
			,@create_by
			,@description
			)

		SELECT 1 AS Code
			,'OK' AS Msg;

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ins_user]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ins_user]
	@id INT,
	@id_user VARCHAR(10),
	@id_role INT,
	@full_name NVARCHAR(50),
	@sex BIT,
	@date_of_birth Date,
	@phone CHAR(10),
	@address NVARCHAR(200),
	@status BIT,
	@email VARCHAR(50),
	@user_name VARCHAR(50),
	@password VARCHAR(100),
	@create_at DATETIME,
	@create_by VARCHAR(10),
	@last_modify_at DATETIME,
	@description NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--IF @id =0
	BEGIN 
		INSERT INTO account(id_user,id_role,full_name,sex,date_of_birth,phone,address,status,email,user_name,password,create_at,create_by,last_modify_at,description)
		VALUES(@id_user,@id_role,@full_name,@sex,@date_of_birth,@phone,@address,@status,@email,@user_name,@password,@create_at,@create_by,@last_modify_at,@description)
		
	END
	--ELSE
	--BEGIN
	--	UPDATE account
	--	SET
	--		id_user=@id_user,
	--		id_role = @id_role,
	--		full_name = @full_name,
	--		sex = @sex,
	--		date_of_birth = @date_of_birth,
	--		phone = @phone,
	--		address = @address,
	--		status = @status,
	--		email = @email,
	--		user_name = @user_name,
	--		password = @password,
	--		create_at = @create_at,
	--		create_by = @create_by,
	--		last_modify_at = @last_modify_at,
	--		description = @description
	--	WHERE id =@id
	--	END

    -- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_login] (
    @user_name VARCHAR(50),    @password VARCHAR(100)
)AS
BEGIN    
    SELECT user_name, password,id,id_role FROM account 
	WHERE status = 1 
	and user_name=@user_name 
	and password=@password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_content]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_upd_content] (
	@id_cl int
	,@content_name nvarchar(100)
	,@modified_date_cl datetime
	,@file_size varchar(10)
	)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM content_library
				WHERE id_cl = @id_cl
				)
		BEGIN
			UPDATE content_library
			SET id_cl = @id_cl
				,content_name = @content_name
				,modified_date_cl = @modified_date_cl
				,file_size = @file_size
			WHERE id_cl = @id_cl

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'Nội dung không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_device]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_upd_device] (
	@ip_address VARCHAR(16)
	,@name_device varchar(50)
	,@name_brand varchar(20)
	,@resolution VARCHAR(15)
	,@type_method int 
	)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM device
				WHERE ip_address = @ip_address
				)
		BEGIN
			UPDATE device
			SET name_device = @name_device
				,name_brand = @name_brand
				,resolution = @resolution
				,type_method = @type_method
			WHERE ip_address = @ip_address

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'IP không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_link_url]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_upd_link_url] (
	@ip_address VARCHAR(16)
	,@id_url int
	,@id_type int
	)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM link_url
				WHERE ip_address = @ip_address
				)
		BEGIN
			UPDATE link_url
			SET
				id_url = @id_url
				,id_type = @id_type
			WHERE ip_address = @ip_address

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'IP không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_playlist]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_upd_playlist] (
	@id_pl int
	,@id_cl int
	,@playlist_name nVARCHAR(100)
	,@url text
	,@type varchar(10)
	,@status bit
	,@duration int
	)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM playlist
				WHERE id_pl = @id_pl
				)
		BEGIN
			UPDATE playlist
			SET id_cl = @id_cl
				,playlist_name = @playlist_name
				,url = @url
				,type = @type
				,status = @status
				,duration = @duration
			WHERE id_pl = @id_pl

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'Playlist không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_role]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_upd_role] (
	@id INT
	,@role_name NVARCHAR(50)
	,@status BIT
	,@description NVARCHAR(200)
	)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM role
				WHERE id = @id
				)
		BEGIN
			UPDATE role
			SET role_name = @role_name
				,description = @description
				,status=@status
				,last_modify_at = getdate()
			WHERE id = @id;

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'Role không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_role_object]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_upd_role_object] (
	@id_role INT
	,@id_object INT
	,@status BIT
	)
AS
/* **********************************************************************
Author:  VN184786
Creation Date: 2022-07-12
Desc:
*************************************************************************

Change History
DATE		CHANGED BY		DESCRIPTION
                            
*/
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF EXISTS (
				SELECT 1
				FROM role_object
				WHERE id_role = @id_role and id_object= @id_object
				)
		BEGIN
			UPDATE role_object
			SET status=@status
				,last_modify_at = getdate()
			WHERE id_role = @id_role and id_object= @id_object;

			SELECT 1 AS Code
				,'OK' AS Msg;
		END
		ELSE
		BEGIN
			SELECT 0 AS Code
				,N'Role không tồn tại hoặc đã bị xóa.' AS Msg;
		END

		COMMIT
	END TRY

	BEGIN CATCH
		SELECT ERROR_NUMBER() AS Code
			,ERROR_MESSAGE() AS Msg;

		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_user]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_upd_user]
	@id INT,
	@id_user VARCHAR(10),
	@id_role INT,
	@full_name NVARCHAR(50),
	@sex BIT,
	@date_of_birth Date,
	@phone CHAR(10),
	@address NVARCHAR(200),
	@status BIT,
	@email VARCHAR(50),
	@user_name VARCHAR(50),
	@password VARCHAR(100),
	
	@create_by VARCHAR(10),
	@last_modify_at DATETIME,
	@description NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		UPDATE account
		SET
			id_user=@id_user,
			id_role = @id_role,
			full_name = @full_name,
			sex = @sex,
			date_of_birth = @date_of_birth,
			phone = @phone,
			address = @address,
			status = @status,
			email = @email,
			user_name = @user_name,
			password = @password,
			
			create_by = @create_by,
			last_modify_at = @last_modify_at,
			description = @description
		WHERE id =@id
		END

    -- Insert statements for procedure here
GO
/****** Object:  StoredProcedure [dbo].[UserViewByID]    Script Date: 7/28/2023 1:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.

-- =============================================
CREATE PROCEDURE [dbo].[UserViewByID]
	@id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT * 
   FROM account
   WHERE id = @id
END
GO
