@section Scripts {
    <script src="~/js/dashboard/index.js"></script>
}
<div class="card card-bordered">
    <div class="card-body">
        <div id="kt_apexcharts_5" style="height: 350px;"></div>
    </div>
</div>