USE [DB_DIGITAL]
GO
/****** Object:  Table [dbo].[object]    Script Date: 7/7/2023 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[object](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
	[id_parent_obj] [int] NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_object] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/7/2023 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_object]    Script Date: 7/7/2023 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_object](
	[id_role] [int] NOT NULL,
	[id_object] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 7/7/2023 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [varchar](10) NOT NULL,
	[id_role] [int] NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](200) NULL,
	[status] [bit] NOT NULL,
	[email] [varchar](50) NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[create_at] [datetime] NULL,
	[create_by] [varchar](10) NULL,
	[last_modify_at] [datetime] NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
